


<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Placeholders.js Default Config</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
    </head>
    <body class="placeholder-example">
        <input type="text" placeholder="I have a placeholder!"><br>
        <input type="password" placeholder="Password placeholders!"><br>
        <textarea placeholder="Textareas too!"></textarea>
        <script src="assets/js/placeholders.min.js"></script>
    </body>
</html>
